<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxgzeroapp.workingart">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/my_notitle"
        >
        <activity android:name=".activity.welcome.WelcomeActivity"
            android:theme="@style/fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.welcome.GuideActivity"
            android:label="引导界面"
            android:theme="@style/my_notitle"></activity>
        <activity android:name=".activity.MainActivity"
            android:theme="@style/my_notitle"></activity>
        <activity android:name=".activity.welcome.WeaTherActivity"
            android:label="天气"></activity>
        <activity android:name=".activity.welcome.ConstellationActivity"
            android:label="星座"></activity>
        <activity android:name=".activity.welcome.JokeActivity"
            android:label="笑话"></activity>
        <activity android:name=".activity.welcome.FilmReviewActivity"
            android:label="影评"></activity>
        <activity android:name=".activity.UpLoadActivity"></activity>
        <activity android:name=".activity.DownLoadActivity"></activity>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".jpush.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.zxgzeroapp.workingart" />
            </intent-filter>
        </receiver>
    </application>

</manifest>